TOUR_API_KEY=replace-with-tour-api-key
KAKAO_JAVASCRIPT_KEY=replace-with-kakao-javascript-key
DB_URL=jdbc:mysql://localhost:3305/enjoytrip?serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8
DB_USERNAME=ssafy
DB_PASSWORD=ssafy
